UT3-XML/Apuntes/10-mensxsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- En el ZSD defino una secuencia de tres campos de, para y testo, de tipo string -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="mensaje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="de" type="xs:string"/>
                <xs:element name="para" type="xs:string"/>
                <xs:element name="texto" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>