UT3-XML/Apuntes/11-datos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="datos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lastname" type="xs:string"/>
                <xs:element name="age" type="xs:int"/>
                <xs:element name="dateborn" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>