UT3-XML/Apuntes/14-direccionXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="direcciones">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="direccion" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="particular" type="xs:string"/>
                            <xs:element name="profesional" type="xs:string"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>